body {
  background-color: var(--Dark-Blue);
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-thought {
  background-color: var(--Dark-Grayish-Blue);
  width: 433px;
  height: 266px;
  border-radius: 11px;
}

.title {
  color: var(--Neon-Green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 39px;
}


.advice,
.number {
  padding: 0px 1px 5px 3px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 4px;
}


.thought {
  color: var(--Light-Cyan);
  text-align: center;
  font-size: 22.3px;
  font-weight: 700;
  padding-top: 15px;
}

.pattern-divider {
  display: flex;
  justify-content: center;
}

.pattern-divider-desktop{
  padding-top: 35px;
  width: 350px;
}

.neon-green {
  background: var(--Neon-Green);
  box-sizing: border-box;
  
  transform: translate(282%, 30% );
  border-radius: 50%;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.icon-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .neon-green,
.icon-dice{
  cursor: pointer;
  transform: scale(1.10);
} */

