body {
  background-color: var(--Dark-Blue);
  font-family: "Manrope", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-thought {
  background-color: var(--Dark-Grayish-Blue);
  width: 540px;
  height: 333px;
  border-radius: 15px;
}

.title {
  color: var(--Neon-Green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
}

.advice{
  
  justify-content: space-around;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 4px;

}

.number{
  
  justify-content: space-around;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 4px;
}

.thought{
  color: var(--Light-Cyan);
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}